{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@shared/(.*)$",
    "^@features/(.*)$",
    "^@entities/(.*)$",
    "^@widgets/(.*)$",
    "^@pages/(.*)$",
    "^@app/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
