.page-loader-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-loader-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
