@media (max-width: 992px) {
  table thead th:nth-child(4) {
    display: none;
  }

  table tbody td:nth-child(4) {
    display: none;
  }
}

@media (max-width: 576px) {
  table thead th:nth-child(2),
  table thead th:nth-child(5),
  table thead th:nth-child(6) {
    display: none;
  }

  table tbody td:nth-child(2),
  table tbody td:nth-child(5),
  table tbody td:nth-child(6) {
    display: none;
  }
}
